form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  width: 850px;
  height: 444px;
  background: #F9F9F9;
  border-radius: 24px;
  gap: 16px;
}

.loginLogo {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FF7010;
  font-size: 25px;
  font-weight: 600;
}

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  position: relative;
  height: 48px;
  width: 300px;
  gap: 8px;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  border-radius: 6px;

}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateX(-100%);
  color: #FF7010;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #FF7010;
}

.btnLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF7010;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 13px 40px;
  gap: 10px;
  width: 300px;
  height: 48px;
  border-radius: 6px;
}

.btnLogin:active {
  scale: 80%;
  transition: all 0.4s ease;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(16px);
  z-index: 9999999999;
}

.none {
  display: none !important;
}

.loginX {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.loginX img {
  transition: all 0.4s ease;
  cursor: pointer;
  width: 27px;
}

.loginX img:active {
  scale: 80%;
  transition: all 0.4s ease;
}

.registerTitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #191919;
  width: 240px;
  height: 40px;
}

form span {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #191919;
  width: 380px;
  height: 44px;
}

.inputGroup p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #A5A5A5;
}

.loginFootertext{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #191919;
  opacity: 0.4;
  width: 320px;
  height: 54px;
}