.Pizza {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.AllPizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.PizzaHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
}

.PizzaHeader h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #191919;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    gap: 8px;
    width: 126px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    cursor: pointer;
}
.Pizzas{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    width: 69%;
}
.OnePizza {
    position: relative;
    width: 300px;
    height: 480px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px
    
}
.xit{
    position: absolute;
    top: 30px;
    left: 0;
    background: #E23535;
    height: 32px;
    width: 65px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pizzaInfo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.pizzaInfo p {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
}

.pizzaInfo span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
}

.addBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btnPizza {
    padding: 13px 32px;
    gap: 10px;
    background: #FF7010;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btnPizza:active{
    scale: 80%;
    transition: all 0.4s ease;
}
.addBtn h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FF7010;
}
.allBox{
    display: none;
}
.add{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18181832;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

